# MacOS
.DS_Store

# local configuration IDE
.bsp

logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# build stuff
project/project
project/target
target/
